@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: poppins;
  src: url('/fonts/Poppins-Variable.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.swiper {
  width: 80%;
  height: 40vh;
  overflow: visible !important;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  width: 70vw!important;
}

.swiper-pagination{
  margin-bottom: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide-prev,.swiper-slide-next{
  opacity: 0.5;
}
.swiper-pagination-bullet{
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 20px !important;
  height: 1vh !important;
  width: 5vw !important;
  display: inline-block;
} 
.swiper-pagination-bullet-active{
  background-color: orange !important;
}